<div class="author">
    <h1 class = "author__heading">
        Hi, I am Vedika
    </h1>
    <p class = "author__body">Welcome to my blog post!</p>
</div>

<img src = "\image\blog2.jpg" alt ="laptop" class = "hero-image">

<section class = "articles">
    <h2 class = "articles__heading">My Posts</h2>
    <ul class = "article-ul">
        <% data.forEach(post => { %>
        <li>
            <a href = "/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span class = "article-list__date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>

    </ul>


</section>